

body{
    /* background-color:red; */

    display: grid;

    grid-template-rows: 100px 500px;

    background-color: white;

}

h1,h2{
    font-family: 'Muli', sans-serif;
    z-index: 10;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0
}

.outputSection{
    /* border: 1px solid blue; */
    display: grid;

    grid-template-columns: 33% 33% 33%;

    z-index: 10;

   
}

.alphabetSection{
    /* border: 1px solid red; */
   
}

.forSection{
    /* border: 1px solid green; */
    font-size: 50px;
   
    margin: 175px auto;

   

    display: none;


}

.imageSection{
    
}

.headingSection{
    /* border: 1px solid red; */
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.a{
    background-image: url('Images/Alphabet-Images/a.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.a-img{
    background-image: url('Images/Item-Images/apple.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.b{
    background-image: url('Images/Alphabet-Images/b.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.b-img{
    background-image: url('Images/Item-Images/ball.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.c{
    background-image: url('Images/Alphabet-Images/c.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.c-img{
    background-image: url('Images/Item-Images/cat.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.d{
    background-image: url('Images/Alphabet-Images/d.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.d-img{
    background-image: url('Images/Item-Images/dog.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.e{
    background-image: url('Images/Alphabet-Images/e.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.e-img{
    background-image: url('Images/Item-Images/elephant.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.f{
    background-image: url('Images/Alphabet-Images/f.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.f-img{
    background-image: url('Images/Item-Images/frog.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.g{
    background-image: url('Images/Alphabet-Images/g.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.g-img{
    background-image: url('Images/Item-Images/giraffe.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.h{
    background-image: url('Images/Alphabet-Images/h.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.h-img{
    background-image: url('Images/Item-Images/horse.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

.i{
    background-image: url('Images/Alphabet-Images/i.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.i-img{
    background-image: url('Images/Item-Images/ink.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}


.esc{
    background-image: none;
}